<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ToolkitSuite" parallel="none">
  <test name="ToolkitTest">
    <classes>
      <class name="org.helm.notation.tools.NucleotideTest"/>
      <class name="org.helm.notation.tools.SimpleNotationGroupIteratorTest"/>
      <class name="org.helm.notation.tools.xHelmNotationExporterTest"/>
      <class name="org.helm.notation.tools.MonomerDBTest"/>
      <class name="org.helm.notation.tools.ComplexNotationParserTest"/>
      <class name="org.helm.notation.tools.EncoderTest"/>
      <class name="org.helm.notation.tools.SimpleNotationParserTest"/>
      <class name="org.helm.notation.tools.CalculatorTest"/>
      <class name="org.helm.notation.tools.xHelmNotationParserTest"/>
    </classes>
  </test> <!-- ToolkitTest -->
</suite> <!-- ToolkitSuite -->
